body {background-color:rgb(255, 123, 145)
}
.p1{text-align:center;  
    color: rgb(255, 0, 119);  
}
.p1{border-style: outset;
    border-color:rgb(255, 154, 181);
    border-width:5px;
    background-color:rgb(219, 67, 219);
}
h2{text-align:center
}
h1{text-align:center;
}
img{margin-left: 585px;
}
footer{text-align:center;
}