body {background-color:#e79cd4
}
.p1{text-align:center;  
    color: rgb(255, 255, 255);  
}
.p1{border-style: ridge;
    border-color:rgb(221, 3, 61);
    border-width:5px;
    background-color:rgb(153, 34, 153);
}
h2{text-align:center
}
h1{text-align:center;
    color: white;
}
img{margin-left: 585px;
}
footer{text-align:center;
}
.p5{margin-left: 560px;
}