body {background-color:pink
}
.p1{text-align:center;  
    color: white;  
}
.p1{border-style: outset;
    border-color:blue;
    border-width:5px;
    background-color:purple;
}
h2{text-align:center
}
h1{text-align:center;
}
img{margin-left: 585px;
}
footer{text-align:center;
}